.wrapper-e {
    width: 100%;
    display:flex;
    justify-content: center;
    
}

.wrapper-content-e {
    display:flex;
    justify-content: space-between;
    width: 500px;
}

/* form {
    display: flex;
    flex-direction:colomn;
} */

input {
    padding: 5px;
    margin: 5px;
}

/* input:first-child {
    margin: 0 0 5px;
} */

.buttons-wrapper-e {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px o;
}

button {
    width: 70px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;

}
th {
    min-width: 100px;
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
    background-color: antiquewhite;
}

th:first-child {
    min-width: 20px;
}

td{
    border:1px solid grey;
    padding:5px;
}