
.loginlist{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login {
    color: antiquewhite;
    font-size: 70px;
    text-align:center;
}
.search{
    margin:10px auto;
    width: 300px;
    height: 250px;
    background-color:rgb(18, 53, 94) ;
    color: antiquewhite;
}
.search>div{
    padding-top:2%;
    display: flex;
    flex-wrap: wrap;
    
}
input{
    height: 35px;
    width: 276px;
    margin-left:3%;
   
}  
.submit{
    background-color:  rgb(1, 12, 34);
    color:antiquewhite;
    margin-top: 2%;
    width: 290px;
}
.submit:hover{
    background-color:rgb(26, 96, 161) ;
}
p{
    margin-top: 3%;
    margin-left: 3%;
}
    
