body{
    background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/rm422-076-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e877fedea1136b8c616786d383ed70c3);
    background-repeat: no-repeat;
    background-size: cover;
}  
h1{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 45px;
    color:rgb(163, 158, 149);
    font-family:initial ;
} 
h1:hover{
    color:beige;
    transform: scale(1.1);
    transition: 2s;
}
.container-content{
    display: flex;
    justify-content: space-around;
    margin:10% auto;

}
button{
    width: 90px;
    height: 40px;
    background-color: rgb(163, 158, 149);
    color:rgb(4, 35, 63);
    border:3px solid rgb(2, 6, 63);
    font-family:initial ;

}
button:hover{
    background-color: beige;
    transform: scale(1.1);
    transition: 2s;
}
