table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(5, 14, 5);
 }
 
 th {
    min-width: 100px;
    border: 1px solid rgb(4, 8, 4);
    text-align: left;
    padding: 5px;
    background-color: rgb(74, 139, 141);
    
 }
 
 th:first-child {
    min-width: 20px;
 }
 
 td {
    border: 1px solid green;
    padding: 5px;
 }